<div class="row container intro">
  <div class="three columns pic">
    <%= image_tag "gaurav.jpg" %>
  </div>
  <div class="nine columns myinfo" >
    <% if current_user %>
      <%= link_to "Edit", login_path %>
    <% end %>
    <h3 class="fonth"> Gaurav Arora </h3>
    <p class="font"><b> Software Engineer,HP ISO </b><br>
     Bangalore, India </p>
    <p class="font"><b>Interest:</b>&nbsp;Gymming, Treakking, Reading Random stuff</p> 
    <p class="font"><b>Education:</b>&nbsp;B.tech, Dhirubhai Ambani Institute of Information and Communcation Technology</p>
  </div>

 <p class="font"><b>About Me</b></p>
  <p class="font firstpara">
  I am Gaurav Arora, technology enthusiast.I like learning about the technology which can help us make our life better and easier.I am strong beliver in old phrase *Technology can change,way we live our life*. Today i reading about such technology but in tommorow will get my hand's dirty in making something which can change we do something today.
  </p> 
  <p class="font">
    Currently, I am working in HP ISO and planning to change company/industry soon. I have interest in going to M.S to a Good University to know more about the field i have tried my hand in my undergraduation.I got a chance to work with Professor Prasenjit Majumder during my undergraduation where i had my first taste of research work.</p>
<p class="font">
I am desire to work for  Big reasearch firm for 2 year and 2 years with a strong technology startup and then go for one of my own which is suppose to be combination of startup enviroment and lot of cool research.
</p>
<p class="font">
  I have always felt pain in reading chunk of text be it newspaper , big article,  software logs. All of them give me hard time.So i want to make reading lot more easier than it is now.
</p>
</div>
