<div class="row container intro">
  <div class="three columns pic">
    <%= image_tag "gaurav.jpg" %>
  </div>
  <div class="nine columns myinfo" >
    <h3 class="fonth"> Gaurav Arora </h3>
    <p class="font"><b> Freelancing </b><br>
     Bangalore, India </p>
    <p class="font"><b>Interest:</b>&nbsp;Reading, Gymming, Trekking </p> 
    <p class="font"><b>Education:</b>&nbsp;B.tech, Dhirubhai Ambani Institute of Information and Communcation Technology</p>
  </div>

 <p class="font"><b>About Me</b></p>
  <p class="font firstpara">
  I am Gaurav Arora, technology enthusiast. I like learning about the technology which makes our life better and easier. I am strong beliver in old phrase <b>Technology can change,way we live our life</b>.I read about technology and try to develop things which make sense to develop.
  </p> 
  <p class="font">
    Currently, I am working on pet projects and freelancing mainly on xapian. I have keen interest to do interesting projects, to do something which can change how people do things and touch lifes of people.</p>
</p>
<p class="font">
  I have always felt pain in reading chunk of text be it newspaper , big article,  software logs. All of them give me hard time. So i want to make reading lot more easier than it is now. I am also juggling through to get ideas to build awesome projects.
</p>
</div>
