<div class="row container intro">

<h1 class="font"> <b>Notebook Paper: </b></h1>
  <ul>
  <li>
  <p class="font"> <b>CLEF QA4MRE Track:</b>  Gaurav Arora, Prasenjit Mazumder: Cosine Similarity as Machine Reading Technique.CLEF (Notebook Papers/Labs/Workshop) 2011 </p> </li>

  <li>
  <p class="font"> <b> FIRE SMSFAQ Track: </b>  Khushboo Shinghal,Gaurav Arora,Smita Kumai: FAQ Retrieval Against noisy queries FIRE 2011 </p>
  </li>

  <li> 
  <p class="font"> <b> Yahoo Semsearch Challange: </b> Gaurav Arora,Swair shah: Information Retrieval on Semantic Data Yahoo Semsearch Challange 2011 </p>
  </li>

  </ul>

<br>
<br>
<br>
<h1 class="font"> <b> Presentations:</b> </h1>

<ul>
  <li>
  <h4> <%= link_to "Towards Building a Text Commitment system ", "http://www.slideshare.net/samuelhard/200801229-final-presentation" %> </h4>
  <p> This was presented by me as final year project, this present a alternative and automatic way to detect the Text Commitment from complex sentences.</p>
  </li>
  
  <li>
  <h4> <%= link_to "Introduction to Nutch and Lucene Framework ", "http://www.slideshare.net/samuelhard/nutch-and-luceneframework-11431701" %> </h4>
  <p> This was presented by me in the class of Indroduction of Information retrieval class in DA-IICT taught by Prof. Prasenjit Majumder </p>
  </li>

  <li>
  <h4> <%= link_to "Interfacing GSM Modem with Microcontroller","http://www.slideshare.net/samuelhard/gsm-presentation-4924237" %> </h4>
  <p> This was presented as a demo in Workshop conducted on Embedded System's at DA-IICT. </p>

</ul>
  
</div>

