<div class="row container intro">
	
  <ul>
  <li>
  	<h1 class="font"> <b>Organize Download: </b></h1>
  <p class="font"> Chrome extension to organize your downloads. It try to keep your download folder clean by moving files to location it should be on your local drive, rather than piling up all the downloads in your download directory.
  	<table>
  		<tr>
  			<td>Extension Link</td>
  			<td><a href="https://chrome.google.com/webstore/detail/organizedowload/pmbapjgcgcnocmllkbcehgljickgjiif">Extension</a>, <a href="https://chrome.google.com/webstore/detail/organize-download-app/ibnikgmjkdnijcigicjpnipibcieobdh">App</a></td>
  		</tr>
  		<tr>
  			<td>Github Link</td>
  			<td><a href="https://github.com/samuelharden/OrganizeDownload">OrganizeDownload</a></td>
  		</tr>

  	</table>
</p> </li>
<li>
	<h1 class="font"> <b>Local youtube: </b></h1>
<p class="font">This is a chrome extension to save your bandwidth by downloading the video in case you repeatedly listen to same video and waste lot of your internet bandwidth.
	<table>
  		<tr>
  			<td>Github Link</td>
  			<td><a href="https://github.com/samuelharden/LocalYoutube">LocalYoutube</a></td>
  		</tr>
  	</table>
</p>
</li>

<li>
	<h1 class="font"> <b>Jsonfier: </b></h1>
<p class="font">Jsonify the webpage, from command line and also has a extension to Jsonify one tab
	<table>
  		<tr>
  			<td>Github Link</td>
  			<td><a href="https://github.com/samuelharden/jsonify">Jsonify</a></td>
  		</tr>
  	</table>
</p>
</li>
</ul>

</div>
