<footer>
<div class="footerbox">
<div class="social_block">
  <div class="wrapper">
    <div class="col-sm-4 col-sm-offset-1 connect">
      <p id="connect">Connect with Gaurav</p>
    </div> 
    <div class="col-sm-6 col-sm-offset-1 clinks"> 
      <ul>
        <li class="irc"> <a href="irc:samuelharden">IRC</a> </li>
        <li class="google"> <a href="mailto:gauravarora.daiict@gmail.com">Gmail</a> </li>
        <li class="github"> <a href="https://github.com/samuelharden">Github</a> </li>
        <li class="twitter"> <a href="https://twitter.com/gaurav_arora_">Twitter</a> </li>
        <li class="facebook"> <a href="https://www.facebook.com/gauravarora.daiict">Facebook</a> </li>
      </ul>
  </div> 
  </div>
  </div>
<div id="copyright">
  <div class="row footer">
    <div class="col-sm-4s  align1">
      <p>Site content &copy; 2012,Gaurav Arora </p>
    </div>
  </div>
</div>
</div>
</footer>

